*{
	margin: 0;
	padding: 0;
}

body{

	background-color: #0a0a0a;
}

#check{
	display: none;

}

#icone{
	cursor: pointer;
	padding: 15px;
	position: fixed;
	z-index: 100;
	filter: brightness(600%);
	/*animation: aumentaediminui ease 2s infinite alternate;*/
}



#icone:hover{
	transform: translate(10px, 0px) /*rotate(180deg)*/;
	filter: brightness(100%);
	transition: all .3s ease-out;
}

#icone:checked{


}
.barra{
/*	background: #0b0b0b;*/
	background: #1b2631;
	/*background-image: linear-gradient(0deg, #c10047 0%,#1b2631 50%, 50%,#1b2631 50%,#1b2631,#1b2631 50%);*/
	background-image: linear-gradient(0deg, transparent,#1b2631 50%, 50%,#1b2631 50%,#1b2631,#1b2631 50%);
	height: 100%;
	width: 300px;
	position: fixed;
	transition: all 0.2s ease; 
	left: -300px;
	z-index: 99;

}

.barra nav{
	width: 100%;
	position: absolute;
	top: 60px;
	z-index: 99;
}

.barra nav a{
	text-decoration: none;
}


.link{
/*	/*background: rgb(73, 73, 80, 0.7);
	background: black;
	background: rgb(0, 0, 0, 0.7);*/
	padding: 20px;
	font-family: arial;
	font-size: 12pt;
	transition: all .05s ease;
	color: #f9f9f9;
	opacity: 0;
	margin-top: 200px;
	border-left: 5px solid #292d31;
	border-bottom: 3px transparent;
	transition: .3s;
	font-size: 11pt;
	text-transform: uppercase;
	letter-spacing: 2px;



}

.link:hover{
	color: #db2b50;
	border-left: 10px solid #96281b;
	font-size: 11pt;
	letter-spacing: -1px;
	transition: .3s ease-out;

}

.link:hover{
	background: rgba(0,0,0,0.2);
	transition: .1s ease-out;
}

.link:hover i{
	transform: translate(200px, 0px) scale(2);

	transition: .3s ease-out;
		transition-delay: .2s;
}

.active{
	color: #db2b50;
}

.active:hover{
	color:#f9f9f9;
}


/*.link > li:hover > a{
	background: rgb(231, 76, 60);
	border-left: 30px solid #96281b;
	transition: .3s;
	font-size: 16pt;
}
*/


#check:checked ~ .barra{
	transform: translateX(300px);

}




#check:checked ~ .barra nav a .link{
	opacity: 1;
	margin-top: 0;

}



